.vscode/settings.json
.coverage
src/__pycache__/*
tests/__pycache__/*
coverage.xml
src/oas_patch.egg-info/*
.pypirc
dist/*
build/*
src/oas_patch/__pycache__/*
tests/overlay/__pycache__/*
tests/diff/__pycache__/*
tests/unit_test/__pycache__/*